@import "compass/reset";
@import "compass/css3";

.b_a
	{
		height: 413px;
	}
.blue
	{
		width: 100%;
		padding-top: 64px;
		padding-bottom: 205px;
		background-color: #00a0e9;
		.tag
			{
				color: #000;
				font-size: 13px;
				margin-right: 5px;
				margin-top: -37px;
				a
					{
						color: #000;
					}
			}
		.ne_li_bo
			{
				margin-top: 102px;
				padding-left: 330px;
				button
					{
						width: 60px;
						height: 32px;
						background-color: #fff100;
						border: 1px solid #5f5f5f;
						color: #000;
						text-align: center;
						letter-spacing: 1px;
						margin-left: 520px;
						font-size: 15px;
					}

			}
		table
			{
				margin-bottom: 21px;
			}
		td
			{
				height: 51px;
				padding-bottom: 20px;
			}
		.te_td
			{
				width: 220px;
				height: 100%;
				font-size: 15px;
				letter-spacing: 1px;
				color: #fff;
				padding-left: 45px;
			}
		.textbox
			{
				width: 361px;
				height: 100%;
				padding-left: 15px;
				font-size: 13px;
				border: 1px solid #5f5f5f;
				background-color: #fff;
			}
		.min_t
			{
				color: #fff;
				font-size: 15px;
				padding-bottom: 63px;
			}
		
	}

.colo_box
	{
		width: 1320px;
		
	}
.til
	{
		height: 57px;
		font-size: 57px;
		letter-spacing: 0.5px;
		color: #fff;
	}
.size
	{
		font-size: 27px;
		margin-left: 34px;
		padding-top: 16px;
	}
.setp_te
	{
		color: #fff;
		font-size: 15px;
		line-height: 34px;
	}
