@import "compass/reset";
@import "compass/css3";

.yellow
	{
		width: 100%;
		padding-top: 40px	!important;
		padding-bottom: 49px;
		background-color: #fed700;   
	}
.pink
	{
		width: 100%;
		padding-top: 40px	!important;
		padding-bottom: 49px;
		background-color: #e4007f;
		
	}
.blue
	{
		width: 100%;
		padding-top: 40px	!important;
		padding-bottom: 49px;
		background-color: #00a0e9;
		
		
	}
	.colo_box
		{
			width: 807px   !important;

		}

.til
	{
		height: 57px;
		font-size: 57px;
		letter-spacing: 0.5px;
		color: #fff;
	}
.size
	{
		font-size: 16px;
		height: 57px;
		padding-top: 30px;
		margin-left: 10px;
	}
.bla
	{
		margin-top: 43px;
		padding-left: 7px;
		font-weight: bold;
		letter-spacing: 0.5px;
		margin-bottom: 23px;
		font-size: 22px;
	}
.nor
	{
		margin-bottom: 54px;
		font-size: 16px;
		padding-left: 7px;
		color: #fff;

	}