<link href="<{$smarty.const.WEB_ACSS}>inside_style.css" rel="stylesheet" type="text/css" />
<link href="<{$smarty.const.WEB_ACSS}>tab_style.css" rel="stylesheet" type="text/css" />
<link href="<{$smarty.const.WEB_ACSS}>btn_style.css" rel="stylesheet" type="text/css" />
<link href="<{$smarty.const.WEB_ACSS}>table_style.css" rel="stylesheet" type="text/css" />
            <div id="content">
                <div class="section">
                    <div class="box_style_01" style="width:100%">
                        <div class="top">
                            <div class="right_bg">
                                <div class="title"><h2><{$init.optionAry[$init.op].0.menu_title}></h2></div>
                            </div>
                        </div><!--end .top //-->
                        
                        <div class="mid">
                            <div class="left_bg">
                                <div class="right_bg">
                                    <div class="main_content">
                                        <div class="tabs_1">
                                            <ul>
												<li><a href="index.php?op=<{$init.op}>&sub=list"><h3>文章列表</h3></a></li>
												<li><a href="index.php?op=<{$init.op}>&sub=edit"><h3>新增文章</h3></a></li>
												<li><a href="index.php?op=<{$init.op}>&sub=cate"><h3>分類列表</h3></a></li>
												<li><a href="index.php?op=<{$init.op}>&sub=cateadd" class="selected"><h3>新增分類</h3></a></li>
                                            </ul>
                                        </div><!--end .tabs_1 //-->
										
                                        <form name="addFrm" method="POST" action="" enctype="multipart/form-data">
										<input type="hidden" name="mode" value="editCate" />
										<input type="hidden" name="id" value="<{$init.id}>" />
										<input type="hidden" name="type" value="<{$init.op}>" />
										<input type="hidden" name="level" value="<{$data.record.level}>" />
                                        <div class="inside_section" style="padding-bottom:10px"><span style="color:#F36; font-size:13px;">*星號表示必填項目</span></div><!--end .inside_section //-->
                                        <div class="inside_section">
                                            <div class="table_style_01">
                                                <table border="0" cellspacing="0" cellpadding="0">
                                                  <!--<tr>
                                                    <th><span style="color:#F36;">*</span>上層分類：</th>
                                                    <td>
                                                        <select id="parent_id" name="parent_id" style="font-size:18px;">
															<option value="0">《建立一個主分類》</option>
															<{foreach from=$data.cateAry key=k item=v}>
																<option value="<{$v.categories_id}>" <{if $data.record.parent_id == $v.categories_id}>SELECTED<{/if}>><{$v.name}></option>
															<{/foreach}>
                                                        </select>
                                                    </td>
                                                  </tr>-->
												  <input type="hidden" name="parent_id" value="0" />
												  <tr>
                                                    <th><span style="color:#F36;"></span>分類名稱：</th>
                                                    <td>
                                                        <input type="text" name="name" id="cname" maxlength="64" value="<{$data.record.name}>" style="width:500px;font-size:24px;" /> (64字元)
                                                    </td>
                                                  </tr>
												  <input type="hidden" name="is_homepage" value="-1" CHECKED />
												  <!--<tr>
                                                    <th><span style="color:#F36;">*</span>首頁：</th>
                                                    <td>
														<label><input type="radio" name="is_homepage" value="-1" CHECKED />否</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <label><input type="radio" name="is_homepage" value="1" <{if $data.record.is_homepage == 1}>CHECKED<{/if}> />是</label>
                                                    </td>
                                                  </tr>-->
                                                  <tr>
                                                    <th><span style="color:#F36;">*</span>狀態：</th>
                                                    <td>
                                                        <label><input type="radio" name="status" value="1" CHECKED />上線</label>&nbsp;&nbsp;&nbsp;&nbsp;
														<label><input type="radio" name="status" value="-1" <{if $data.record.status == -1}>CHECKED<{/if}> />隱藏</label>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <th>&nbsp;</th>
                                                    <td>
														<{if $init.id > 0}>
															<span class="btn_org_90"><a href="javascript: checkForm('addFrm');">修改資料</a></span>
															<span class="btn_org_90"><a href="index.php?op=<{$init.op}>&sub=cate">返回列表</a></span>
															<span class="btn_org_90" style="float:right;"><a href="index.php?op=<{$init.op}>&sub=<{$init.sub}>">重新新增</a></span>
														<{else}>
															<span class="btn_org_90"><a href="javascript: checkForm('addFrm');">確定送出</a></span>
															<span class="btn_org_90"><a href="index.php?op=<{$init.op}>&sub=cate">返回列表</a></span>
														<{/if}>
                                                    </td>
                                                  </tr>
                                                </table>
                                            </div><!--end .table_style_01 //-->
                                        </div><!--end .inside_section //-->
										</form>
<script type="text/javascript">
var type = '<{$init.op}>';
var sysMessage = '<{$data.message}>';
</script>
<script>
var result = new Array();
function checkForm(formName,rtype){
	var message = '';
	if(document.getElementById('cname').value.length == 0){
		message += "※請輸入分類名稱\r\n";
	}
	if(message == ''){
		document.forms[formName].submit();
	}else{
		alert(message);
	}
}

$(document).ready(
function(){
	if(sysMessage != ''){
		alert(sysMessage);
	}
}
);
</script>
                                    </div><!--end .main_content //-->
                                </div>
                            </div>
                        </div><!--end .mid //-->
                    </div><!--end .box_style_01 //-->
                </div><!--end #content .section //-->
            </div><!--end #content //-->