		<div id="content">
                <div class="section">
                    <div class="box_style_01" style="width:49%; margin-right:1%">
                        <div class="top">
                            <div class="right_bg">
                                <div class="title"><h2>聯絡我們待處理清單</h2></div>
                                <div class="more_btn_01"><a href="./index.php?op=contact&sub=list">more</a></div>
                            </div>
                        </div><!--end .top //-->
                        
                        <div class="mid">
                            <div class="left_bg">
                                <div class="right_bg">
                                    <div class="main_content">
                                        <div id="index_news">
                                            <ul>
											<{foreach from=$data.contact key=k item=v}>
                                                <li>
                                                    <div class="date"><{$v.display_date}></div>
                                                    <div class="news_title"><a href="index.php?op=contact&sub=edit&id=<{$v.id}>"><{$v.title}></a></div>
                                                </li>
											<{/foreach}>
                                            </ul>
                                        </div><!--end #index_news //-->
                                    </div><!--end .main_content //-->
                                </div>
                            </div>
                        </div><!--end .mid //-->
                    </div><!--end .box_style_01 //-->
                    
                    
                </div><!--end #content .section //-->
                
            </div><!--end #content //-->