<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<div><{$smarty.const.WEBNAME}></div>
<table width="720"><tr><td style="border:1px #fddbb5 solid;padding:20px 30px;">
<div style="color:#474747;font-size:13px;">
親愛的 <{$data.record.sendname}> 您好<br />
</div>

<div style="clear:both;height:20px;"></div>

<table border="1" width="100%" style="border-collapse:collapse;border:none;">
<tr>
	<td style="border:inset #cccccc 1.0pt;background:#ffff99;padding:3.75pt 3.75pt 3.75pt 3.75pt;font-size:14px;color:#222222;">需求內容</td>
</tr>
<tr>
	<td style="border:inset #cccccc 1.0pt;padding:3.75pt 3.75pt 3.75pt 3.75pt;">
		<{$data.record.message}>
	</td>
</tr>
<tr>
	<td style="border:inset #cccccc 1.0pt;background:#ffff99;padding:3.75pt 3.75pt 3.75pt 3.75pt;font-size:14px;color:#222222;">回覆內容</td>
</tr>
<tr>
	<td style="border:inset #cccccc 1.0pt;padding:3.75pt 3.75pt 3.75pt 3.75pt;">
		<{$data.record.reply}>
	</td>
</tr>
</table>


<div style="clear:both;height:20px;"></div>

<div style="color:#474747;font-size:13px;"><{$webAry.sign}></div>

<div style="clear:both;height:20px;"></div>

<hr>

<div style="color:#FF0000;font-size:13px;width:100%;text-align:center;">注意︰本郵件是由<{$smarty.const.WEBNAME}>系統自動產生與發送，請勿直接回覆。</div>

<div style="clear:both;height:20px;"></div>

</td></tr></table>