<link href="<{$smarty.const.WEB_ACSS}>inside_style.css" rel="stylesheet" type="text/css" />
<link href="<{$smarty.const.WEB_ACSS}>tab_style.css" rel="stylesheet" type="text/css" />
<link href="<{$smarty.const.WEB_ACSS}>btn_style.css" rel="stylesheet" type="text/css" />
<link href="<{$smarty.const.WEB_ACSS}>table_style.css" rel="stylesheet" type="text/css" />
            <div id="content">
                <div class="section">
                    <div class="box_style_01" style="width:100%">
                        <div class="top">
                            <div class="right_bg">
                                <div class="title"><h2><{$init.optionAry[$init.op].0.menu_title}></h2></div>
                            </div>
                        </div><!--end .top //-->
                        
                        <div class="mid">
                            <div class="left_bg">
                                <div class="right_bg">
                                    <div class="main_content">
                                        <div class="tabs_1">
                                            <ul>
												<li><a href="index.php?op=<{$init.op}>&sub=list" class="selected"><h3>文章列表</h3></a></li>
											</ul>
                                        </div><!--end .tabs_1 //-->
                                        
                                        <div class="inside_section">
                                            <div class="table_style_01">
											<form name="searchForm" method="get">
											<input type="hidden" name="op" value="<{$init.op}>" />
											<input type="hidden" name="sub" value="<{$init.sub}>" />
											<input type="hidden" name="st" value="1" />
                                                <table border="0" cellspacing="0" cellpadding="0">
                                                  <tr>
                                                    <th>關鍵字：</th>
                                                    <td><input id="sv" name="sv" value="<{$init.sv}>" type="text" style="width:200px;" />&nbsp;(可搜尋：上傳者)</td>
                                                  </tr>
                                                  <tr>
                                                    <th>&nbsp;</th>
                                                    <td>
                                                        <span class="btn_org_90"><a href="javascript: document.searchForm.submit();">查詢</a></span>
                                                        <span class="btn_org_90"><a href="index.php?op=<{$init.op}>&sub=<{$init.sub}>">列表</a></span>
                                                    </td>
                                                  </tr>
                                                </table>
											</form>
                                            </div><!--end .table_style_01 //-->
                                        </div><!--end .inside_section //-->
                                        <form id="delFrm" name="delFrm" method="POST" action="">
										<input type="hidden" id="mode" name="mode" value="multiDel" />
                                        <div class="inside_section">
                                            <div class="table_style_02">
                                                <table border="0" cellspacing="0" cellpadding="0">
                                                  <tr>
                                                    <th><input type="checkbox" name="all" onClick="CheckAll('multiId[]');" /></th>
                                                    <th>上傳者</th>
                                                    <th>檔案1</th>
													<th>檔案2</th>
													<th>檔案3</th>
                                                    <th>建立時間</th>
                                                    <th>刪除</th>
                                                  </tr>
												  <{foreach from=$data.list key=k item=v}>
                                                  <tr>
                                                    <td><input type="checkbox" id="multi-<{$v.id}>" name="multiId[]" value="<{$v.id}>" /></td>
                                                    <td>
														<{$v.cname}>
													</td>
                                                    <td>
														<{if $v.filename != ''}>
															<a href="<{$smarty.const.WEB_UPLOAD}><{$init.op}>/<{$v.filename}>" target="_blank"><{$v.filename}></a>
														<{/if}>
													</td>
													<td>
														<{if $v.filename2 != ''}>
															<a href="<{$smarty.const.WEB_UPLOAD}><{$init.op}>/<{$v.filename2}>" target="_blank"><{$v.filename2}></a>
														<{/if}>
													</td>
													<td>
														<{if $v.filename3 != ''}>
															<a href="<{$smarty.const.WEB_UPLOAD}><{$init.op}>/<{$v.filename3}>" target="_blank"><{$v.filename3}></a>
														<{/if}>
													</td>
                                                    <td>
														<{$v.create_time}>
													</td>
                                                    <td>
														<a href="javascript:del(<{$v.id}>);"><img src="<{$smarty.const.WEB_AIMG}>delete_btn.png" /></a>
													</td>
                                                  </tr>
												  <{/foreach}>
                                                </table>
                                            </div><!--end .table_style_02 //-->
											<div style="float:left;"><span class="btn_org_90"><a href="javascript: del('');">刪除項目</a></span></div>
											<div style="clear:both;"></div>
                                        </div><!--end .inside_section //-->
										</form>
										<div style="width:100%;text-align:center;">
											<a href="<{$data.page.first}>">首頁</a>&nbsp;&nbsp;
											<a href="<{$data.page.left}>">上頁</a>&nbsp;&nbsp;
											<{$data.page.content}>&nbsp;&nbsp;
											<a href="<{$data.page.right}>">下頁</a>&nbsp;&nbsp;
											<a href="<{$data.page.last}>">尾頁</a>
										</div>
<script>
<!--
var sysMessage = '<{$data.message}>';
var op = '<{$init.op}>';
var sub = '<{$init.sub}>';
//-->
</script>
<script>
$(document).ready(
function(){
	if(sysMessage != ''){
		alert(sysMessage);
	}
}
);
</script>
                                    </div><!--end .main_content //-->
                                </div>
                            </div>
                        </div><!--end .mid //-->
                    </div><!--end .box_style_01 //-->
                </div><!--end #content .section //-->
            </div><!--end #content //-->