@import "compass/reset";
@import "compass/css3";


*
	{
		@include box-sizing(border-box);

		/*@include background-size(auto 100%);*/
		/*@include background-size(100% auto);*/

		font-family: "Microsoft Jhenghei","微軟正黑體";
		outline: none;
		
	}

.spacer 
	{
		clear: both;
	}
.float
	{
		float: left;
	}
.float_r
	{
		float: right;
	}
.width
	{
		width: 100%;
	}
.hidden
	{
		display: none;
	}
.wrapper
	{
		/*width: 1322px;*/
		margin: 0px auto;
		border: 0px;
		padding: 0px;
	}
.colo_box
	{
		
		/*max-width: 1320px   !important;*/
		/*width: 1000px   !important;*/
		width: 1000px   !important;

	}

a 
	{ 
		text-decoration: none;
		cursor: pointer; 
		display: inline-block;
	}

body
	{
		background-color: #ffffff;
		min-width: 1001px !important;
		min-height: 100% !important;

		/*overflow-y: hidden;*/
	}
button
	{
		cursor: pointer;
		border: none;
		background: none;
		padding: 0px;
		margin: 0px;
	}


.header
	{
		width: 100%;
		height: 122px;
		background-image: url(../../../images/header_01.png);
		background-position: top;
		background-repeat: repeat-x;
		background-color: #231815;
		border-bottom: 4px solid #636363;
		position: relative;
		z-index: 1000;
		.header_box
			{
				width: 966px;
			}
		.icon
			{
				margin-top: 14px;
				margin-right: 6px;
				margin-bottom: 30px;
				a
					{
						margin-left: 7px;
					}
			}
		.menu
			{
				width: 966px;
				color: #4b4644;
				.men_a
					{
						padding-right: 30px;
						padding-left: 30px;
					}
				.a_line
					{
						padding-top: 15px;
					}
				.logo
					{
						background: #231815;
						margin-top: -49px;
						padding: 17px;
						padding-bottom: 19px;
						@include border-radius(15px, 15px);
					}
			}

	}



.middle
	{

		.banner
			{
				width: 100%;
				background-color: #fff;
				position: relative;
				@include background-size(100% auto);
				.moleft
					{
						position: absolute;
						left: 42px;
						top: 45%;
					}
				.moright
					{
						position: absolute;
						right: 42px;
						top: 45%;
					}
				.bann_img
					{
						width: 100%;
						/*margin-top: -11px;*/
					}
			}
	}



.footer
	{
		background-color: #231815;
		width: 100%;
		height: 134px;
		.footer_box
			{
				max-width: 1230px;
				a
					{
						color: #fff;
					}
			}
		.logo_b
			{
				margin-top: 21px;
				margin-right: 135px;
			}
		.main_bo
			{
				margin-top: 38px;
				color: #fff;
				font-size: 13px;
				line-height: 25px;
				letter-spacing: 0.8px;
			}
		
	}

























