/* line 5, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/contact.scss */
.yellow {
  width: 100%;
  padding-top: 64px;
  padding-bottom: 85px;
  background-color: #fed700;
}
/* line 11, ../sass/contact.scss */
.yellow .tag {
  color: #000;
  font-size: 13px;
  margin-right: 5px;
  margin-top: -37px;
}
/* line 17, ../sass/contact.scss */
.yellow .tag a {
  color: #000;
}
/* line 22, ../sass/contact.scss */
.yellow .ti_tx {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
/* line 28, ../sass/contact.scss */
.yellow table {
  margin-top: 35px;
  margin-left: 11px;
}
/* line 33, ../sass/contact.scss */
.yellow td {
  padding-bottom: 13px;
}
/* line 38, ../sass/contact.scss */
.yellow .input {
  width: 464px;
  height: 37px;
  color: #000;
  font-size: 15px;
  padding-left: 15px;
  background-color: #ffc200;
  border: none;
}
/* line 48, ../sass/contact.scss */
.yellow .check {
  width: 95%;
  margin-top: 20px;
  margin-bottom: 25px;
  margin-left: 28px;
}
/* line 55, ../sass/contact.scss */
.yellow .chek_b {
  width: 62px;
  height: 96px;
  text-align: center;
  font-size: 13px;
  line-height: 16px;
  margin-right: 82px;
}
/* line 64, ../sass/contact.scss */
.yellow .ck_me {
  height: 100%;
  line-height: 96px;
  margin-right: 40px;
}
/* line 72, ../sass/contact.scss */
.yellow .mem_td td {
  padding-bottom: 0px;
  padding-right: 0px;
}
/* line 77, ../sass/contact.scss */
.yellow .mem_td button {
  margin-top: 92px;
  margin-left: 15px;
  width: 111px;
  height: 32px;
  background-color: #3d3d3f;
  color: #fff;
  border: 1px solid #5f5f5f;
  font-size: 15px;
  line-height: 32px;
  letter-spacing: 1px;
}
/* line 92, ../sass/contact.scss */
.yellow .meam {
  width: 640px;
  height: 37px;
  margin-bottom: 7px;
}
/* line 98, ../sass/contact.scss */
.yellow .meam_a {
  width: 640px;
  height: 278px;
}
/* line 103, ../sass/contact.scss */
.yellow .inf {
  font-size: 13px;
  width: 315px;
  padding-left: 10px;
}
/* line 108, ../sass/contact.scss */
.yellow .inf .lb_a {
  width: 100%;
  height: 43px;
  padding: 7px;
  padding-left: 5px;
  line-height: 16px;
  margin-top: 13px;
  letter-spacing: -0.6px;
  border-bottom: 1px solid #edc649;
}
/* line 119, ../sass/contact.scss */
.yellow .inf .lb {
  width: 100%;
  height: 30px;
  padding: 10px;
  padding-left: 5px;
  border-bottom: 1px solid #edc649;
}

/* line 129, ../sass/contact.scss */
.pink {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 55px;
  background-color: #e4007f;
}
/* line 135, ../sass/contact.scss */
.pink .google_map {
  margin-left: 10px;
  margin-top: 34px;
  /*width: 1264px;
  height: 625px;*/
  position: relative;
  padding-bottom: 65.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
/* line 146, ../sass/contact.scss */
.pink .google_map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 96%;
  height: 100%;
}

/* line 156, ../sass/contact.scss */
.colo_box {
  width: 1320px;
}

/* line 161, ../sass/contact.scss */
.til {
  height: 57px;
  font-size: 57px;
  letter-spacing: 0.5px;
  color: #fff;
}

/* line 168, ../sass/contact.scss */
.size {
  font-size: 27px;
  margin-left: 36px;
  padding-top: 16px;
}

/* line 174, ../sass/contact.scss */
.setp_te {
  color: #fff;
  font-size: 15px;
  line-height: 34px;
}
