	<link rel="stylesheet" type="text/css" href="css/FrontEnd/stylesheets/account_download.css">
	<div class="middle">
		<div class="banner b_a">
			<div class="spacer"></div>
			<img class="bann_img float" src="images/member_44.png">
			<div class="spacer"></div>
		</div>
		<!-- banner end -->
		<div class="blue">
			<div class="colo_box wrapper">
				<div class="til">
					<div class="spacer"></div>
					<div class="float">MEMBER</div>
					<div class="size float">會員專區</div>
					<div class="tag float_r">
						<a href="">首頁</a>  >  
						<a href="">會員登入</a>
					</div>
					<div class="spacer"></div>
				</div>
				<div class="ne_li_bo">
					<table>
						<tr>
							<td class="min_t" colspan="8">
								請先選擇您要下載的檔案，若非公版刀膜請與我們專人洽詢相關事宜
							</td>
						</tr>
						<tr>
						<{foreach from=$data.list key=k item=v}>
							<td>
								<a href="./go_download.php?fid=<{$v.id}>">
									<img src="images/mem_do_56.png" height="94" width="97">
									<div class="buto">
										<{$v.title}>
									</div>
								</a>
							</td>
							<{if ($k+1)%8 == 0}></tr><tr><{/if}>
						<{/foreach}>
						</tr>
					</table>

				</div>
			</div>
		</div>
		<!-- pink end -->
		
	</div>
	<!-- middle end -->