<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><{$webAry.title}></title>
	<meta name="description" content="<{$webAry.description}>" />
	<meta name="keywords" content="<{$webAry.keyword}>" />
	<link rel="stylesheet" type="text/css" href="css/FrontEnd/stylesheets/global.css">
</head>

<body>
	<div class="header">
		<div class="header_box wrapper">
			<div class="spacer"></div>
			<div class="icon float_r">
				<a class="float" href="download.html">
					<img src="images/icon_05.png">
				</a>
				<a class="float" href="upload.html">
					<img src="images/icon_07.png">
				</a>
				<a class="float" href="https://www.facebook.com/hofutechprint?fref=ts">
					<img src="images/icon_09.png">
				</a>
				<a class="float" href="">
					<img src="images/icon_11.png">
				</a>
				<a class="float" href="">
					<img src="images/icon_11.png">
				</a>
			</div>
			<!-- <div class="menu float"> -->
			<div class="menu">
				<div class="spacer"></div>
				<a class="men_a float" href="about.html">
				<{if $init.op == "about"}>
					<img src="images/HOFU_10_2.png" >
					<img class="hidden" src="images/HOFU_10.png" >
				<{else}>
					<img src="images/HOFU_10.png" >
					<img class="hidden" src="images/HOFU_10_2.png" >
				<{/if}>
				</a>
				<div class="a_line float">/</div>
				<a class="men_a float" href="news.html">
				<{if $init.op == "news"}>
					<img class="hidden" src="images/HOFU_12.png" >
					<img src="images/HOFU_12_2.png" >
				<{else}>
					<img class="hidden" src="images/HOFU_12_2.png" >
					<img src="images/HOFU_12.png" >
				<{/if}>
				</a>
				<div class="a_line float">/</div>
				<a class="men_a float" href="case.html">
				<{if $init.op == "case"}>
					<img src="images/HOFU_14_2.png" >
					<img class="hidden" src="images/HOFU_14.png" >
				<{else}>
					<img src="images/HOFU_14.png" >
					<img class="hidden" src="images/HOFU_14_2.png" >
				<{/if}>
				</a>
				<a class="logo float" href="index.html">
					<img src="images/logo_16.png">
				</a>
				<a class="men_a float" href="login.html">
				<{if $init.op == "login"}>
					<img src="images/HOFU_17_2.png" >
					<img class="hidden" src="images/HOFU_17.png" >
				<{else}>
					<img src="images/HOFU_17.png" >
					<img class="hidden" src="images/HOFU_17_2.png" >
				<{/if}>
				</a>
				<div class="a_line float">/</div>
				<a class="men_a float" href="support.html">
				<{if $init.op == "support"}>
					<img src="images/HOFU_19_2.png" >
					<img class="hidden" src="images/HOFU_19.png" >
				<{else}>
					<img src="images/HOFU_19.png" >
					<img class="hidden" src="images/HOFU_19_2.png" >
				<{/if}>
				</a>
				<div class="a_line float">/</div>
				<a class="men_a float" href="contact.html">
				<{if $init.op == "contact"}>
					<img src="images/HOFU_21_2.png" >
					<img class="hidden" src="images/HOFU_21.png" >
				<{else}>
					<img src="images/HOFU_21.png" >
					<img class="hidden" src="images/HOFU_21_2.png" >
				<{/if}>
				</a>
				<div class="spacer"></div>
			</div>
			<!-- menu end -->
			<div class="spacer"></div>
		</div>
		<!-- wrapper end -->
	</div>
	<!-- header end -->