	<link rel="stylesheet" type="text/css" href="css/FrontEnd/stylesheets/support_in.css">
	<div class="middle">
		<div class="banner">
		<div class="spacer"></div>
		<!--
			<button class="moleft">
				<img class="width" src="images/arrow_37.png" height="120" width="49">
			</button>
			
			<button class="moright">
				<img src="images/arrow_34.png" height="119" width="50">
			</button>			
		-->
			<img class="bann_img float" src="images/faq_44.png">
			<div class="spacer"></div>
		</div>
		<!-- banner end -->
		<div class="blue">
			<div class="colo_box wrapper">
				<div class="til">
					<div class="spacer"></div>
					<div class="float">FAQ</div>
					<div class="size float">常見問題</div>
					<div class="tag float_r">
						<{$init.path}>
					</div>
					<div class="spacer"></div>
				</div>
				<div class="ne_li_bo">
					<div class="po">
						<button class="n_i_left">
							<img src="images/news_i_79.png">
						</button>
						<div class="te_in">
							<table>
								<tr>
									<td class="tit_in_ne">
										<{$data.record.title}>
									</td>
									<td class="time_in_n">
										發佈日期：<{$data.record.display_date}>
									</td>
								</tr>
								<tr>
									<td class="nic" colspan="2">
										<{$data.record.description}>
									</td>
								</tr>
								<tr>
									<td style="height:145px;">
										<button class="pa_cir" onClick="javascript: parent.location.href='<{$init.op}>.html';">TOP</button>
									</td>
								</tr>
							</table>
							<!-- <button class="pa_cir">TOP</button> -->
						</div>
						<button class="n_i_right">
							<img src="images/news_i_82.png">
						</button>
					</div>
				</div>
				<!-- ne_li_bo end -->
			</div>
		</div>
		<!-- pink end -->
		
	</div>
	<!-- middle end -->